#
# Rissu's Custom configuration
# Common for a12s and m12
#
CONFIG_LOCALVERSION="-Rissu"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_PLATFORM_VERSION=13
CONFIG_SAMSUNG_LMKD_DEBUG=n
CONFIG_SAMSUNG_FREECESS=n
CONFIG_EROFS_FS=y
CONFIG_KSU=y
CONFIG_KPROBES=n
CONFIG_KALLSYMS_ALL=n
CONFIG_IKHEADERS=n
CONFIG_DISABLE_TRACE_PRINTK=y
CONFIG_TCP_CONG_WESTWOOD=n
CONFIG_TCP_CONG_HTCP=n
CONFIG_NL80211_TESTMODE=n
CONFIG_SND_DEBUG=n
CONFIG_SND_DEBUG_VERBOSE=n
CONFIG_SND_VERBOSE_PRINTK=n
CONFIG_USB_DEBUG_DETAILED_LOG=n
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_AVC_STATS=n
