#
# Rissu's Custom configuration
# Common for a12s and m12
#
CONFIG_LOCALVERSION="-Rissu"
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_PLATFORM_VERSION=13
# CONFIG_SAMSUNG_LMKD_DEBUG is not set
# CONFIG_SAMSUNG_FREECESS is not set
CONFIG_EROFS_FS=y
CONFIG_KSU=y
CONFIG_KSU_MANUAL_HOOK=y
CONFIG_KSU_64BIT=y
CONFIG_KSU_CMDLINE=y
# CONFIG_KPROBES is not set
# CONFIG_KALLSYMS_ALL is not set
# CONFIG_IKHEADERS is not set
CONFIG_DISABLE_TRACE_PRINTK=y
# CONFIG_TCP_CONG_WESTWOOD is not set
# CONFIG_TCP_CONG_HTCP is not set
# CONFIG_NL80211_TESTMODE is not set
# CONFIG_SND_DEBUG is not set
# CONFIG_SND_DEBUG_VERBOSE is not set
# CONFIG_SND_VERBOSE_PRINTK is not set
# CONFIG_USB_DEBUG_DETAILED_LOG is not set
CONFIG_SECURITY_SELINUX_DEVELOP=y
# CONFIG_SECURITY_AVC_STATS is not set
# CONFIG_CPU_FREQ_DEFAULT_GOV_ENERGYSTEP is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
CONFIG_CRYPTO_LZ4=y
# CONFIG_INIT_STACK_NONE is not set
# CONFIG_INIT_STACK_ALL_PATTERN is not set
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_SEC_DEBUG_BAD_STACK_CAREFULLY=y